@import '../null.scss';
@import '../header.scss';
@import '../paNav.scss';
@import '../paTable.scss';
@import './paInvest_transferFunds.scss';
@import './paInvest_table.scss';



.paWindow{
    &_p{
        width: 100%;
        color: rgba(255, 255, 255, 0.63);
        font-size: 12px;
        font-weight: 400;
    }
}

.paInvest{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    @media (max-width: 900px) {
        flex-wrap: wrap;
        row-gap: 20px;
    }

    &_estimated_earnings{
        width: 100%;
        &_second{
            margin-top: 16px;
            @media (max-width: 900px) {
                display: none;
            }
        }
        &_info{
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            &_name{
                color: rgba(255, 255, 255, 0.63);
                font-size: 12px;
                font-weight: 400;
            }
            &_value{
                &_large, &_small{
                    text-align: right;
                    font-size: 12px;
                    font-weight: 400;
                }
                &_small{
                    color: $green;
                }
            }
        }
    }

    &_select{
        width: 100%;
        margin-top: 18px;
        border-radius: 8px;
        background: #449F87;
        display: flex;
        flex-wrap: wrap;
        &_selector{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 38px;
            padding: 0px 16px;
        }
        &_selector:hover{
            cursor: pointer;
            opacity: 0.8;
        }
        &_list{
            margin-top: 4px;
            border-radius: 8px;
            background: #449F87;
            padding: 12px;
            position: relative;
            z-index: 2;
            display: flex;
            flex-wrap: wrap;
            row-gap: 8px;
            &_element{
                width: 100%;
                display: flex;
                column-gap: 12px;
                align-items: center;
            }
            img{
                width: 100%;
                height: 100%;
                max-width: 18px;
                max-height: 18px;
            }
        }
        &_name{
            display: flex;
            column-gap: 16px;
            align-items: center;
            img{
                width: 100%;
                height: 100%;
                max-width: 18px;
                max-height: 18px;
            }
        }
    }
}
