@import '../null.scss';
@import '../header.scss';
@import '../paNav.scss';
@import '../paTable.scss';
@import './paInvest_transferFunds.scss';
@import './paInvest_table.scss';



.paWindow{
    &_p{
        width: 100%;
        color: rgba(255, 255, 255, 0.63);
        font-size: 12px;
        font-weight: 400;
    }
}

.paInvest{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    @media (max-width: 900px) {
        flex-wrap: wrap;
        row-gap: 20px;
    }

    &_estimated_earnings{
        width: 100%;
        &_second{
            margin-top: 16px;
            @media (max-width: 900px) {
                display: none;
            }
        }
        &_info{
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            &_name{
                color: rgba(255, 255, 255, 0.63);
                font-size: 12px;
                font-weight: 400;
            }
            &_value{
                &_large, &_small{
                    text-align: right;
                    font-size: 12px;
                    font-weight: 400;
                }
                &_small{
                    color: $green;
                }
            }
        }
    }
}
