.paSettings{
    &_attention{
        min-height: 74px;
        margin-top: 20px;
        border-radius: 16px;
        background: rgba(255, 82, 82, 0.26);
        display: flex;
        justify-content: center;
        column-gap: 12px;
        align-items: center;
        padding: 10px 20px;
        &_text{
            font-size: 16px;
            font-weight: 500;
            @media (max-width: 420px) {
                font-size: 12px;
            }
        }
        &_red{
            color: #FF5252;
            display: inline;
        }
        &_button{
            width: 80px;
            height: 38px;
            padding: 8px 12px;
            border-radius: 8px;
            background: #1A4539;
            color: #84E4BF;
            font-size: 16px;
            font-weight: 400;
        }
    }
}