@import '../null.scss';
@import '../header.scss';
@import '../paNav.scss';
@import '../paCoinlist.scss';


.paWithdraw{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: centers;
    @media (max-width: 1020px) {
        flex-wrap: wrap;
        row-gap: 24px;
    }
    &_info{
        @media (max-width: 1020px) {
            width: 100%;
        }
    }
    &_input{
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        @media (max-width: 600px) {
            flex-wrap: wrap;
            row-gap: 12px;
        }
        &_text{
            &_header{
                font-size: 16px;
                font-weight: 400;
            }
            &_desc{
                color: rgba(255, 255, 255, 0.63);
                font-size: 12px;
                font-weight: 400;
            }
        }
        input{
            @media (max-width: 600px) {
                width: 100%;
            }
            padding: 8px 16px;
            border-radius: 8px;
            background: rgba(16, 48, 38, 0.60);
            font-size: 16px;
            font-weight: 500;
            width: 50%;
        }
        input::placeholder{
            color: rgba(255, 255, 255, 0.63);
            font-size: 16px;
            font-weight: 500;
        }
        &_value{
            font-size: 20px;
            font-weight: 500;
            text-transform: capitalize;
        }
    }   
    &_button{
        margin-top: 24px;
        width: 100%;
        display: flex;
        justify-content: right;
        @media (max-width: 550px) {
            width: 100%;
        }
        button{
            width: 154px;
            height: 42px;
            border-radius: 8px;
            background: #1A4539;
            color: #84E4BF;
            font-size: 16px;
            font-weight: 400;
        }
    }
}