@import '../null.scss';
@import '../header.scss';
@import '../paNav.scss';
@import '../paCoinlist.scss';


.paDeposit{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1020px) {
        flex-wrap: wrap;
        row-gap: 20px;
    }
    @media (max-width: 800px) {
        margin-top: 20px;
    }

    &_cur{
        margin-top: 24px;
        display: flex;
        align-items: center;
        column-gap: 12px;
        img{
            width: 42px;
            height: 42px;
        }
        &_info{
            &_name{
                color: rgba(255, 255, 255, 0.63);
                font-size: 16px;
                font-weight: 400;
            }
            &_value{
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
    &_share{
        margin-top: 24px;
        display: flex;
        column-gap: 40px;
        align-items: center;
        @media (max-width: 700px) {
            flex-wrap: wrap;
            row-gap: 20px;
        }
        &_qr{
            display: flex;
            width: 240px;
            height: 240px;
            justify-content: center;
            align-items: center;
            border-radius: 16px;
            border: 1px solid #FFF;
        }
        ul{
            display: flex;
            max-width: 350px;
            flex-wrap: wrap;
            row-gap: 20px;
            li{
                color: rgba(255, 255, 255, 0.64);
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
    &_adress{
        margin-top: 24px;
        border-radius: 16px;
        background: rgba(16, 48, 38, 0.60);
        height: 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 16px;
        @media (max-width: 500px) {
            flex-wrap: wrap;
            height: auto;
            padding: 16px;
            row-gap: 20px;
        }
        &_info{
            color: rgba(255, 255, 255, 0.60);
            font-weight: 500;
            font-size: 16px;
            @media (max-width: 800px) {
                overflow-x: auto;
            }
        }
        &_btn{
            width: 120px;
            height: 40px;
            border-radius: 8px;
            background: #1B5044;
            font-size: 16px;
            font-weight: 500;
            @media (max-width: 500px) {
                width: 100%;
            }
        }
    }
}

