@import '../null.scss';
@import '../footer.scss';
@import '../header.scss';

.blog_images{
    width: 100%;
    overflow: hidden;
    padding-bottom: 20px;
    &_inner{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .circle1{
        top: 20px;
        left: 20px;
    }
    .chart{
        top: -196px;
        left: -700px;
    }
}


.blog{
    padding-bottom: 100px;
    &_header{
        margin-top: 60px;
        font-size: 40px;
        font-weight: 700;
        width: 100%;
        text-align: center;
    }
    &_headcrumbs{
        width: 100%;
        margin-top: 20px;
        font-size: 24px;
        font-weight: 700;
        display: flex;
        column-gap: 10px;
        justify-content: center;
    }


    &_content{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }
    &_article{
        width: 65%;
        &_preview{
            width: 100%;
        }
        &_info{
            display: flex;
            justify-content: center;
            column-gap: 40px;
            margin-top: 20px;
            &_element{
                display: flex;
                column-gap: 10px;
                align-items: center;
            }
        }
        &_p{
            padding: 0px 20px;
            margin-top: 40px;
            font-size: 12px;
            font-weight: 600;
            line-height: 30px; /* 250% */
            text-transform: uppercase;
        }
        &_blockquote{
            padding: 20px 30px;
            border-radius: 10px;
            background: #39695D;
            text-align: center;
            font-size: 12px;
            font-weight: 600;
            line-height: 30px; /* 250% */
            text-transform: uppercase;
            margin-top: 40px;
        }
    }
    &_recent{
        width: 33%;
        &_search{
            height: 60px;
            display: flex;
            align-items: center;
            column-gap: 10px;
            border-radius: 5px;
            border: 1px solid #FFF;
            padding: 0px 20px;
            &_input{
                background: none;
                border: none;
                color: white;
            }
            &_input::placeholder{
                color: white;
            }
            &_input:focus{
                outline: none;
            }
        }
        &_hr{
            margin: 40px 0px;
            height: 1px;
            width: 100%;
            background: #408C70;
        }
        &_header{
            font-size: 20px;
            font-weight: 600;
            text-transform: uppercase;
        }
        &_element{
            margin-top: 30px;
            display: flex;
            flex-wrap: wrap;
            row-gap: 12px;
            &_text{
                font-size: 20px;
                font-weight: 600;
                line-height: 30px; /* 150% */
                text-transform: uppercase;
                padding: 0px 10px;
            }
            &_preview{
                width: 100%;
            }
        }
    }


}